/* Global Styles */
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation Menu */
nav {
  color: #fff;
  padding: 0 350px 80px 200px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding: 5px 5px;
  transition: background-color 0.3s ease;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

nav a:hover {
  color: #80cae0;
  text-decoration: underline;
}

/* Hero Section */
.title {
  color: #fff;
  padding: 10px 10px;
  width: fit-content;
  margin: 20px auto 90px;
  border-radius: 10px;
  height: 70px;
  display: flex;
  align-items: center;
}

.hero {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
  background-image: url("./images/mainBackground.png");
  background-position: center;
}

.hero h1 {
  font-size: 76px;
}

.hero h2 {
  color: #fff;
  font-size: 30px;
}

.hero h3 {
  color: #fff;
  font-size: 20px;
}

.hero p {
  color: #000000;
  font-size: 18px;
}

/* Info Blocks */
.hero-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.info-block {
  width: 45%;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.info-block p {
  margin: 0;
}

.info-block strong {
  font-weight: bold;
}

.start-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #71db93;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.start-button a:hover {
  background-color: #43965d;
}

/* Catalog Section */
.catalog {
  padding: 50px 0;
  position: relative;
}

.catalog h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.collumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.box1 {
  width: 250px;
  min-width: 250px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  text-align: center;
  outline: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.box1 img {
  max-width: 100%;
  max-height: 40%;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
}

.description {
  margin-bottom: 10px;
}

.details {
  margin-bottom: 10px;
}

.price,
.stock {
  margin-bottom: 5px;
}

.buy-button {
  background-color: #f5761a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #c34723;
}

.viewAll {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 200px;
  background-color: #e6e6e6;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  outline: 5px;
}

.viewAll:hover {
  background-color: #bebdbd;
}

/* How to Buy & Support Section */
.how-to-buy {
  background-color: #f4f4f4;
  padding: 50px 0 300px;
  text-align: center;
}

.how-to-buy h2 {
  font-size: 28px;
}

.collumn2 {
  width: 25%;
  float: left;
}

/* Proof of Activity Section */
.proof {
  padding: 50px 0 300px;
  text-align: center;
}

.proof h2 {
  font-size: 28px;
}

.box2 {
  padding: 10px;
  outline: 5px;
  margin: 40px 10px;
  background-color: #c34723;
  color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Pricing Section */
.pricing {
  background-color: #f4f4f4;
  padding: 50px 0 300px;
  text-align: center;
}

.pricing h2 {
  font-size: 28px;
}

.try-button {
    background-color: #BF3131;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
.try-button:hover {
    background-color: #7D0A0A;
}

/* Contact & Resources Section */
.contact {
  padding: 50px 0 700px;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.collumn3 {
  width: 50%;
  float: left;
}

form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #fcae1e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button[type="submit"]:hover {
  background-color: #ed820e;
}

.contact-form {
  text-align: center;
}

.company-info {
  text-align: right;
}

.company-info ul {
  list-style: none;
  padding: 0;
}

.company-info ul li {
  margin-bottom: 10px;
}

.company-info ul li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #64cc2c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.company-info ul li a:hover {
  background-color: #4da71d;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.collumn1 {
  width: 33.33%;
  float: left;
}

.box {
  padding: 10px;
  outline: 5px;
  margin: 10px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  img {
    width: 100px;
    height: auto;
    margin-top: 20px;
  }

  &.box-basic {
    background-color: #0b8daa;
    color: #fff;
  }

  &.box-premium {
    background-color: #f5761a;
    color: #fff;
  }

  &.box-vip {
    background-color: gold;
    color: #fff;
  }
}

/* CSS for the floating button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #0db8df;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #0b8daa;
}

html {
  scroll-behavior: smooth;
}

.about{
  display: none;  
  padding: 20px 0;
  text-align: center;
}

.about h2 {
    font-size: 32px;
}

.mascot {
    position: fixed;
    z-index: 9999;
    display: block;
    top: -140px;
    right: 20px;
    animation-delay: 10s;
    animation: slideIn 1s 10s forwards;
}

.rotating-mascot {
    background-color: #e6e6e6;
    padding: 10px;
    border: #000000 solid 2px;
    border-radius: 40%;
    width: 100px;
    height: 100px;
    object-fit: contain;
    animation: fadeIn 10s, rotate 5s linear infinite, pulse 2s infinite;
}

.hover-mascot {
    position: absolute;
    top: 2px;
    right: 140px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background: #e6e4e4;
    border: 1px solid #ccc;
    border-radius: 15%;
    opacity: 0;
    width: 120px;
    height: 130px;  
    transition: opacity .5s, visibility .2s;
}

.hover-mascot p {
    font-size: 16px;
}

.rotating-mascot:hover + .hover-mascot{
    opacity: 1;
}

.hover-mascot:hover {
    opacity: 1;
}

.mascot-block {
    top: 55px;
    right: 8px;
    padding: 20px;
    border-radius: 40%;
    color: #80cae0;
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
      background-color: #e6e6e6;
    }
    50% {
      background-color: #93f9f6;
    }
}

@keyframes slideIn {
  100% { top: 20px; }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* Media Queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) {
    .container {
        padding: 5px;
      }
      
    nav {
        padding: 0 0 5px 0;
    }

    nav a {
        font-size: 20px;
    }

    nav a:hover {
        display: none;
    }

    .title {
      width: 100%;
      margin: 50px auto 50px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero h3 {
        margin-top: 30px;
        font-size: 14px;
    }

    .hero p {
        font-size: 10px;
    }

    .hero-info {
        margin-top: 10px;
    }

    .info-block {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .start-button a {
        padding: 10px 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 26px;
    }

    .start-button a:hover {
        background-color: #71db93;
    }

    .catalog {
        padding: 20px;
        position: relative;
    }

    .collumn {
        gap: 10px;
    }

    .buy-button:hover {
        background-color: #f5761a;
    }

    .viewAll {
        position: relative;
        margin: 15px 0 20px 70%;
        padding: 5px 20px;
    }

    .viewAll:hover {
        background-color: #e6e6e6;
    }

    .how-to-buy {
        padding: 20px 0 900px;
    }

    .collumn2 {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    .box {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proof {
        padding: 20px 0 560px;
        text-align: center;
    }

    .collumn1 {
        width: 100%;
    }

    .box2 {
        margin: 10px 10px;
        background-color: #c34723;
        color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .pricing {
        padding: 20px 0 900px;
        text-align: center;
    }

    .try-button:hover {
        background-color: #BF3131;
    }

    .contact {
        padding: 20px 0 1320px;
    }

    .collumn3 {
        width: 100%;
    }

    form {
        text-align: center;
    }

    button[type="submit"]:hover {
        background-color: #fcae1e;
    }

    .scroll-to-top {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }

    .scroll-to-top:hover {
        background-color: #0db8df;
    }

    .about{
        display: block;  
    }
}