@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-bg-color: #fffbeb;
  --navbar-element-bg: rgba(30, 58, 138, 0.3);
  --navbar-element-border: #2563eb;
  --navbar-text-color: #000000;
  --background-color: #ccfbf1;
  --genre-bg-color: #1e3a8a;
  --genre-bg-select-color: #f9f9f9;
  --page-text-color: #1e3a8a;
  --cast-name-color: #3b82f6;
  --release-text-color: #000000;
  --release-bg-color: rgba(37, 99, 235, 0.3);
  --search-bar-bg1: #14b8a6;
  --search-bar-bg2: #6366f1;
  --checkbox-text: #000000;
}

.dark-theme {
  --navbar-bg-color: #1a202c;
  --navbar-element-bg: rgba(30, 58, 138, 0.3);
  --navbar-element-border: #2563eb;
  --navbar-text-color: #f9f9f9;
  --background-color: #2d3748;
  --genre-bg-color: #1e3a8a;
  --genre-bg-select-color: #f9f9f9;
  --page-text-color: #f9f9f9;
  --cast-name-color: #3b82f6;
  --release-text-color: #f9f9f9;
  --release-bg-color: rgba(37, 99, 235, 0.3);
  --search-bar-bg1: #14b8a6;
  --search-bar-bg2: #6366f1;
  --checkbox-text: #fffbeb;
}

*{
  scroll-behavior: smooth;
}

body{
    background-color:  var(--background-color);
}

.shadow{
    box-shadow: inset 0px -20px 20px 20px #0000008c;
}

.shadowbackdrop{
  box-shadow: inset 0px -90px 30px 0px #0000008c;
}

.img{
    transition: 0.5s ease-in-out;
}

.card:hover .img{
    transform: scale(1.1);
}

.active{
    background-color: #93c5fd;
    color: black;
}


/* loader */

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: animloader 2s ease-in-out infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }

@keyframes animloader {
    0%, 100% {
      transform: scale(0);
      opacity: 1;
}
    50% {
      transform: scale(1);
      opacity: 0;
}
  }
  