/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Hero Section */
.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
    background-image: url("./images/mainBackground.png");
}

.hero h1 {
    font-size: 76px;
    font-family: "Nunito", sans-serif;
}

.hero h2 {
    font-size: 30px;
}

.hero p {
    font-size: 18px;
}

/* Info Blocks */
.hero-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.info-block {
    width: 45%; /* Adjust as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-block p {
    margin: 0;
}

.info-block strong {
    font-weight: bold;
}